@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



.cupcake-container
{
	font-size: 2vmin;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: radial-gradient(
		circle,
		#f8e0d8 30%,
		#f5c5b5
	);
}

.cupcake-h1 {
	font-family: Poppins;
	font-size: 5em;
	color: transparent;
	background-image: linear-gradient(
		#eaa4ac,
		#db4557
	);
	background-size: cover;
	-webkit-background-clip: text;
	background-clip: text;
/* 	-webkit-text-stroke: .04em #FFF; */
/* 	filter: drop-shadow( 0 0 .3em rgba(0,0,0,.2) ); */
}

.cupcake
{	
	height: 40em;
	width: 36em;
	position: relative;
	isolation: isolate;
	filter: drop-shadow( 0 0 4em rgba( 0,0,0,.3 ) );
	background-image: radial-gradient(
		ellipse 100% 100%,
		#092536 42%,
		transparent 45%
	);
	background-repeat: no-repeat;
	animation: 
		shadow 1.4s infinite both, 
		bounce 1.4s infinite both;
}

.cupcake::before,
.cupcake::after
{
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX( -50% );
}

.cupcake::before
{
	height: 20em;
	width: 26em;
	bottom: 16em;
	background:
		/* cherry -- branch */
		radial-gradient(
			ellipse 250% 200% at -20% 110%,
			transparent 41%,
			#0c2437 42%,
			#0c2437 47%,
			transparent 48%
		) 28% -5% / 5em 4em,
		
		/* cherry */
		radial-gradient(
			circle,
			#ef9ea8 48%,
			transparent 50%
		) 48% 8% / 1.5em 1.5em,
		
		radial-gradient(
			circle,
			#dc5564 50%,
			transparent 50%
		) 47% 7% / 3em 3em,
		
		radial-gradient(
			circle,
			#db4557 48%,
			transparent 50%
		) 40% -5% / 10em 10em,
		
		/* bottom divider */
		linear-gradient(
			#000,
			#000
		) left 30% bottom .6em / 24.9em .6em,
		
		/* candies */
		linear-gradient( -60deg,
			transparent .5em,
			#db838f .5em,
			#db838f 1em,
			transparent 1em
		) left 11em bottom 3em / 2em 2em,
		
		linear-gradient( 60deg,
			transparent .5em,
			#db838f .5em,
			#db838f 1em,
			transparent 1em
		) right 9em top 7em / 2em 2em,
		
		linear-gradient( 60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) left 7em top 6em / 2em 2em,
		
		linear-gradient( -60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) right 7em top 5em / 2em 2em,
		
		linear-gradient( -60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) left 10em bottom 8em / 2em 2em,
		
		linear-gradient( 60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) right 3em bottom 6em / 2em 2em,
		
		linear-gradient( 60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) right 9em bottom 4.5em / 2em 2em,
		
		linear-gradient( 60deg,
			transparent .5em,
			#f1bbc2 .5em,
			#f1bbc2 1em,
			transparent 1em
		) left 8em bottom 3.5em / 2em 2em,
		
		linear-gradient(
			#db838f,
			#db838f
		) left 6em bottom 9em / 2em .5em,
		
		linear-gradient(
			#db838f,
			#db838f
		) right 8em bottom 8em / 2em .5em,
		
		linear-gradient(
			#db838f,
			#db838f
		) right 4em bottom 3em / 2em .5em,
		
		linear-gradient(
			#db838f,
			#db838f
		) left 4em bottom 4em / 2em .5em,
		
		/* cream -- top/right */
		radial-gradient(
			ellipse 100% 100%,
			#eaa4ac 50%,
			transparent 50%
		) right 25% top 15% / 12em 11em,
		
		/* cream -- bottom/center */
		radial-gradient(
			ellipse 100% 100%,
			#eaa4ac 50%,
			transparent 50%
		) 25% 30% / 10em 8em,
		
		radial-gradient(
			ellipse 100% 100% at 50% 40%,
			#eaa4ac 50%,
			transparent 50%
		) 30% 90% / 20em 12em,
		
		/* cream -- bottom/right */
		radial-gradient(
			ellipse 100% 100%,
			#eaa4ac 50%,
			transparent 50%
		) right 0 top 100% / 10em 10em,
		
		/* cream -- bottom/left */
		radial-gradient(
			ellipse 100% 100%,
			#eaa4ac 50%,
			transparent 50%
		) 0 120% / 10em 9em,

		/* cream -- bottom/center */
		radial-gradient(
			ellipse 100% 100% at 50% 100%,
			#eaa4ac 50%,
			transparent 50%
		) 50% 100% / 24.5em 20em;
	background-repeat: no-repeat;
	z-index: -1;
}

.cupcake::after
{
	width: 26em;
	height: 13em;
	background:
		
		/* mouth -- inner */
		radial-gradient(
			ellipse 100% 180% at 50% 0,
			transparent 48%,
			#f4b477 50%,
			#f4b477 60%,
			transparent 60%
		) left 50% bottom 18% / 6em 2.5em,
		
		radial-gradient(
			ellipse 100% 80% at 50% 100%,
			#db0c46 48%,
			transparent 50%
		) left 50% bottom 25% / 4em 4.2em,
		
		/* mouth -- outer */
		radial-gradient(
			ellipse 100% 70% at 50% 0,
			#092536 48%,
			transparent 50%
		) left 50% bottom -65% / 6em 8em,
		
		/* eyes -- left */
		radial-gradient(
			circle at center,
			#FFF 45%,
			transparent 52%
		) 28.5% 38% / 1.5em 1.5em,
		
		radial-gradient(
			circle at center,
			#092536 47%,
			transparent 50%
		) 28% 41% / 5em 5em,
		
		/* eyes -- right */
		radial-gradient(
			circle at center,
			#FFF 45%,
			transparent 52%
		) right 33.5% top 38% / 1.5em 1.5em,
		
		radial-gradient(
			circle at center,
			#092536 47%,
			transparent 50%
		) right 28% top 41% / 5em 5em,
		
		/* stripes -- 1st */
		linear-gradient( 73deg,
			transparent calc( 50% - .25em ),
			#e19962 calc( 50% - .2em ),
			#e19962 calc( 50% + .2em ),
			transparent calc( 50% + .25em )
		) 18% 80% / 5em 85%,
		
		/* stripes -- 2nd */
		linear-gradient( 80deg,
			transparent calc( 50% - .25em ),
			#e19962 calc( 50% - .2em ),
			#e19962 calc( 50% + .2em ),
			transparent calc( 50% + .25em )
		) 35% 80% / 5em 85%,
		
		/* stripes -- 3rd */
		linear-gradient( 90deg,
			transparent calc( 50% - .25em ),
			#e19962 calc( 50% - .2em ),
			#e19962 calc( 50% + .2em ),
			transparent calc( 50% + .25em )
		) 50% 80% / 5em 85%,
		
		/* stripes -- 4th */
		linear-gradient( -80deg,
			transparent calc( 50% - .25em ),
			#e19962 calc( 50% - .2em ),
			#e19962 calc( 50% + .2em ),
			transparent calc( 50% + .25em )
		) right 35% top 80% / 5em 85%,
		
		/* stripes -- 5th */
		linear-gradient( -73deg,
			transparent calc( 50% - .25em ),
			#e19962 calc( 50% - .2em ),
			#e19962 calc( 50% + .2em ),
			transparent calc( 50% + .25em )
		) right 18% top 80% / 5em 85%,
		
		/* background color */
		linear-gradient(
			#f4b477,
			#f4b477
		) 50% 50% / 50% 100%,
		
		/* right diagonal */
		conic-gradient( from 23deg,
			transparent 0,
			transparent 50%,
			#f4b477 51%,
			#f4b477 99.6%,
			transparent 100%
		) 100% 50% / 25% 100%,
		
		/* left diagonal */
		conic-gradient( from -23deg,
			#f4b477 0,
			#f4b477 50%,
			transparent 51%,
			transparent 99.6%,
			#f4b477 100%
		) 0 50% / 25% 100%;
	background-repeat: no-repeat;
	bottom: 3.5em;
}

@keyframes shadow {
	0%, 80%, 100% {
		background-size: 55% 6%;
		background-position: left 50% bottom 6%;
	}
	
	10% {
		background-size: 58% 6%;
		background-position: left 50% bottom 6%;
	}
	
	30% {
		background-size: 45% 6%;
		background-position: left 50% bottom 0;
	}
	
	60% {
		background-size: 58% 6%;
		background-position: left 50% bottom 6%;
	}
}

@keyframes bounce {
	0%, 80%, 100% {
		transform: scaleY( 1 ) scaleX( 1 );
		transform-origin: center bottom;
	}
	
	10% {
		transform: scaleY( .9 ) scaleX( 1.05 );
		transform-origin: center bottom;
	}
	
	30% {
		transform: scaleY( 1.1 ) scaleX( .95 ) translateY( -3% );
		transform-origin: center bottom;
	}
	
	60% {
		transform: scaleY( .9 ) scaleX( 1.05 );
		transform-origin: center bottom;
	}
}









.heart-container {
    font-size: 10vmin;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    
}

.s-heart {
	--heart-color: #FF3366;
	--text-color: #FF57BB;
	--stroke-color: #FFF;
	
	--radius: .2em;
	--clr-1: #d50000;
	--clr-2: #c51162;
	--clr-3: #aa00ff;
	--clr-4: #2962ff;
	--clr-5: #00c853;
	--clr-6: #ffd600;
	
	height: 8em;
	width: 8em;
	display: flex;
    left:50%;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 0;
	background-image: radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-1 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-3 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-2 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-6 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-4 ) 49%,transparent 50% ), radial-gradient( circle at center, var( --clr-5 ) 49%,transparent 50% );
	background-position: 50% 50%;
	will-change: background-position;
	animation: confetti ease 1.2s infinite 1.7s, glow ease .3s forwards 1.3s;
}

.s-heart::before {
	content: 'Sandu';
	display: block;
	position: absolute;
	color: var( --text-color );
	font-size: 1.3em;
	text-shadow: 
		0 0 .1em var( --stroke-color ),
		0 0 .05em var( --stroke-color );
	z-index: 1;
	margin-top: .1em;
	animation: 
		move-s ease-out 1.5s forwards,
		change-text 3s ease infinite 2s;
}

.s-heart::after {
	content: '';
	display: block;
	position: absolute;
	height: 4em;
	aspect-ratio: 1;
	background: #F00;
	background: radial-gradient(ellipse farthest-corner at right 20% bottom 20%, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left 15% top 15%, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	
	--mask:
		conic-gradient( from 135deg, 
			#000 25%,
			transparent 25%
		) 50% calc( 100% - 1.7em ) / 3em 3em,
		
		conic-gradient( from -45deg, 
			#000 25%,
			transparent 25%
		) 50% calc( 100% + 1.3em ) / 3em 3em,
		
		radial-gradient( ellipse 50% 50%,
			#000 98%,
			transparent 100%
		) right .14em top 0.45em / 2.15em 2.15em,
		
		radial-gradient( ellipse 50% 50%,
			#000 98%,
			transparent 100%
		) left .135em top 0.45em / 2.15em 2.15em;
	
	-webkit-mask: var( --mask );
	-webkit-mask-repeat: no-repeat;
	
	mask: var( --mask );
	mask-repeat: no-repeat;
	
	background-repeat: no-repeat;
	animation: move-heart ease-out 1.5s forwards;
}

@keyframes move-s {
	0% {
		opacity: 0;
	}
	
	40%, 90% {
		opacity: 1;
		transform: translateX( -100% );
	}
	
	100% {
		transform: translateX( 0 );
	}
}

@keyframes move-heart {
	0%, 40% {
		opacity: 0;
	}
	
	90% {
		opacity: 1;
		transform: translateX( 50% );
	}
	
	100% {
		transform: translateX( 0 ) scale( 1.5 );
	}
}

@keyframes confetti {
	0% {
		background-size: calc( 2 * var( --radius ) ) calc( 2 * var( --radius ) );
		background-position: 64% 39%, 33% 50%, 30% 66%, 54% 46%, 44% 41%, 32% 46%, 49% 66%, 53% 69%, 42% 35%, 68% 39%, 53% 51%, 61% 33%, 47% 54%, 57% 67%, 46% 33%, 50% 61%, 50% 46%, 48% 41%, 61% 68%, 68% 44%, 41% 57%, 35% 45%, 33% 38%, 46% 40%, 55% 43%, 68% 53%, 31% 69%, 61% 66%, 34% 69%, 35% 41%, 32% 42%, 42% 39%, 64% 48%, 55% 63%, 58% 48%, 68% 59%, 57% 62%, 47% 40%, 58% 69%, 58% 48%, 44% 45%, 39% 43%, 40% 52%, 30% 47%, 69% 53%, 39% 55%, 70% 66%, 63% 48%, 60% 38%, 40% 52%;
	}
	
	45% {
		background-size: calc( 2 * var( --radius ) ) calc( 2 * var( --radius ) );
	}
	
	100% {
		background-position: 83% 23%, 17% 87%, -3% 65%, 35% 83%, 14% 72%, 82% 95%, 59% 78%, 16% 61%, 51% 62%, 26% 0%, 6% 17%, 106% 78%, 24% 46%, 36% 43%, 28% 19%, 50% 12%, 49% 51%, 79% 19%, 42% 36%, 54% 51%, 68% 101%, 57% 7%, 79% 29%, 28% 90%, 100% 73%, 65% 51%, 22% 81%, 84% 89%, 70% 91%, 18% 22%, -9% 77%, 39% -11%, 89% 3%, 36% 96%, 97% 38%, 94% 83%, 63% 95%, 45% 32%, 62% 115%, 74% 26%, 70% 14%, 79% 55%, 60% 63%, 14% 80%, 40% 101%, 86% 73%, 120% 40%, 27% 0%, 56% 11%, -9% 26%;
    background-size: 0 0;
	}
}

@keyframes glow {
	100% {
		filter: drop-shadow( 0 0 1em #D1B464 );
	}
}

@keyframes change-text {
	0%, 10%, 100% {
		content: 'Sandu';
		opacity: 1;
	}
	
	25% {
		content: 'Sandu';
		opacity: 0;
	}
	
	26% {
		content: '03/05';
		opacity: 0;
	}
	
	50%, 60% {
		content: '03/05';
		opacity: 1;
	}
	
	75% {
		content: '03/05';
		opacity: 0;
	}
	
	76% {
		content: 'Sandu';
		opacity: 0;
	}
}